- hosts: localhost
  connection: local

  tasks:

    - name: Apply Deployment
      command: kubectl apply -f ../../k8s/base/deployment.yml
      environment:
        KUBECONFIG: /home/jenkins/.kube/config

    - name: Apply Service
      command: kubectl apply -f ../../k8s/base/service.yml
      environment:
        KUBECONFIG: /home/jenkins/.kube/config

    - name: Wait for rollout
      command: kubectl rollout status deployment/myapp
      environment:
        KUBECONFIG: /home/jenkins/.kube/config
