- name: Deplloy an application to kuberntes
  hosts: k8s
  become: true

  vars:
    kubeconfig: ~/.kube/config

  tasks:


    - name: Apply the Deploy
      command: kubectl apply -f ../../k8s/base/deployment.yml
      environment: 
        KUBECONFIG: "{{ kubeconfig }}"

    - name: Apply the service
      command: kubectl apply -f ../../k8s/base/service.yml
      environment: 
        KUBECONFIG: "{{ kubeconfig }}"

    - name: Wait for rollout to finish
      command: kubectl rollout status deployment/myapp
      environment:
        KUBECONFIG: "{{ kubeconfig }}"


