
- hosts: k8s
  gather_facts: false
  tasks:

    - name: Apply all namespaces
      kubernetes.core.k8s:
        kubeconfig: /home/ubuntu/.kube/config
        state: present
        src: ../../k8s/namespaces/*.yml
        
    - name: Apply Deployment
      kubernetes.core.k8s:
        kubeconfig: /home/ubuntu/.kube/config
        state: present
        src: ../../k8s/base/deployment.yml

    - name: Apply Service
      kubernetes.core.k8s:
        kubeconfig: /home/ubuntu/.kube/config
        state: present
        src: ../../k8s/base/service.yml
