
- hosts: localhost
  gather_facts: false

  vars:
    kubeconfig_path: /var/lib/jenkins/.kube/config
    tmp_dir: /var/lib/jenkins/workspace/test
    namespace: "{{ namespace | default('dev') }}"    # Passed from Jenkins pipeline
    deployment_file: "{{ tmp_dir }}/k8s/base/deployment.yml"
    service_file: "{{ tmp_dir }}/k8s/base/service.yml"
    
  tasks:

    - name: Apply all namespaces
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ tmp_dir }}/k8s/namespaces/{{ namespace }}_namespace.yml"
        remote_src: yes
        
    - name: Apply Deployment
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ deployment_file }}"
        namespace: "{{ namespace }}"
        remote_src: yes

    - name: Apply Service
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ service_file }}"
        namespace: "{{ namespace }}"
        remote_src: yes
