
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Apply Deployment
      k8s:
        kubeconfig: /var/lib/jenkins/.kube/config
        state: present
        definition: ../../k8s/base/deployment.yml

    - name: Apply Service
      k8s:
        kubeconfig: /var/lib/jenkins/.kube/config
        state: present
        definition: ../../k8s/base/service.yml
