- hosts: localhost
  gather_facts: false

  vars:
    ansible_python_interpreter: /home/jenkins/ansible-env/bin/python
    kubeconfig_path: /var/lib/jenkins/.kube/config
    tmp_dir: /var/lib/jenkins/workspace/test
    namespaces_dir: "{{ tmp_dir }}/k8s/namespaces"
    deployment_file: "{{ tmp_dir }}/k8s/base/deployment.yml"
    service_file: "{{ tmp_dir }}/k8s/base/service.yml"
    namespace: "{{ namespace }}"  # must be provided by Jenkins

  tasks:

    - name: Find all namespace YAML files
      find:
        paths: "{{ namespaces_dir }}"
        patterns: "*.yml"
      register: namespace_files

    - name: Apply all namespaces
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ item.path }}"
      loop: "{{ namespace_files.files }}"
      loop_control:
        label: "{{ item.path }}"

    - name: Apply Deployment in Jenkins-specified namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ deployment_file }}"
        namespace: "{{ namespace }}"

    - name: Apply Service in Jenkins-specified namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ service_file }}"
        namespace: "{{ namespace }}"
